*.pyc
.project
.pydevproject
.settings
.tox/
.cache
*.coverage
*~
build
docs/_build
docs/web_build
dist
*egg-info*
htmlcov
bin/
include/
lib/
distribute*
share/
*.sqlite
database.db
*.swp
.DS_store
*coverage.xml
.idea
.ropeproject
.tox
node_modules/
workdir/
.pytest_cache/
