{% raw %}{% load cms_tags sekizai_tags %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
	<title>{% block title %}Save Lake Varese{% endblock %}</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="robots" content="{{ ROBOTS_META_TAGS }}" />
	<meta name="description" content="{% block meta-description %}{% endblock %}" />
	{% block head %}{% endblock head %}
	{% render_block "css" postprocessor "compressor.contrib.sekizai.compress" %}
</head>

<body>
	{% cms_toolbar %}
	{% block body %}{% endblock %}
	{% render_block "js" postprocessor "compressor.contrib.sekizai.compress" %}
</body>

</html>{% endraw %}
