{% raw %}{% extends "bootstrap4/includes/nav-navbar.html" %}
{% load  static bootstrap_tags menu_tags sekizai_tags %}
{% spaceless %}

{% block navbar %}
<a class="navbar-brand py-0 pl-3 pl-lg-5" href="/">
	<img src="{% static '{% endraw %}{{ cookiecutter.app_name }}{% raw %}/images/brand-logo.svg' %}" height="40" alt="{% endraw %}{{ cookiecutter.project_name }}{% raw %}" />
</a>

<button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
	<span class="navbar-toggler-icon"></span>
	<span class="navbar-toggler-icon"></span>
	<span class="navbar-toggler-icon"></span>
</button>

<div class="collapse navbar-collapse">
	<ul class="navbar-nav w-100">
		<li class=" ml-auto"></li>
		{% main_menu "bootstrap4/menu/navbar.html" %}
		{% language_chooser "{% endraw %}{{ cookiecutter.app_name }}{% raw %}/nav/language-chooser.html" %}
	</ul>
</div>
{% endblock navbar %}

{% endspaceless %}{% endraw %}
